[Unit]
Description=JBoss Application Server
After=network.target

[Service]
Type=forking
User=jboss
Group=jboss
Environment=JAVA_HOME=/usr/lib/jvm/java-7-openjdk-amd64
Environment=JBOSS_HOME=/usr/share/jboss-as
Environment=JBOSS_CONFIG=standalone.xml
Environment=JBOSS_PIDFILE=/var/run/jboss-as/jboss-as-standalone.pid
ExecStart=/usr/share/jboss-as/bin/standalone.sh -c $JBOSS_CONFIG &
ExecStop=/bin/kill -15 $MAINPID
PIDFile=/var/run/jboss-as/jboss-as-standalone.pid
Restart=on-failure
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
